body {
	font-size: small; 
	font-family: Georgia, 'Times New Roman';
  
  color:#444444;
  line-height: 1.9em;

}

h1, h2 {
	color: #007e7e; 
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px; /* 新增内边距 */
  margin:              30px;  /* 新增外边距 */
  font-style: italic;
  color: #444444;
  font-family: georgia,'times new roman';
  line-height: 1.9em;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding:25px;
  padding-left: 80px;
  
}

.elixirs{
  width: 200px;
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;
  line-height: 1;
}

.elixirs h2{
  color: black;
}

.cd{
  font-style: italic;
}
.artist{
  font-weight: bold;
  border-color: #007e7e;
}

.elixirs a:link{
  color:#007e7e
}
.elixirs a:visited{
  color: #333333;
}
.elixirs a:hover{
  background:#f88396
}