* {
    margin: 0%;
    padding: 0%;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.Home-tabber {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -130px;
    display: flex;
}

.Home-tabber-img {
    width: 50%;
    height: 100%;
}

.Home-tabber-img img {
    width: 100%;
    height: 110%;
}

.Home-tabber-nav {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding-top: 20px; */
}

.Home-tabber-nav .Home-tabber-nav-title {
    width: 100%;
    height: 60px;
    position: relative;
    top: 80px;
    line-height: 60px;
    color: white;
}

.Home-tabber-nav .Home-tabber-nav-p {
    width: 100%;
    height: 60px;
    color: white;
    position: relative;
    top: 90px;
}

.Home-tabber-nav .Home-tabber-nav-select {
    width: 100%;
    height: 35px;
    position: relative;
    top: 100px;
    line-height: 35px;
}

.Home-tabber-nav .Home-tabber-nav-select a {
    margin-left: 10px;
    color: #aba4a4;
    transition: all 0.5s;
    cursor: pointer;
}

.Home-tabber-nav .Home-tabber-nav-select a:nth-child(1):hover {
    color: white;
}

.Home-tabber-nav .Home-tabber-nav-select a:nth-child(2):hover {
    color: white;
}

.Home-tabber-nav .Home-tabber-nav-select a:nth-child(3):hover {
    color: white;
}

.Home-tabber-nav .Home-tabber-nav-select a:nth-child(4):hover {
    color: white;
}

.Home-tabber-nav-kuang {
    width: 90%;
    height: 350px;
    /* background-color: red; */
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
}

.Home-tabber-nav .Home-tabber-nav-item {
    width: 100%;
    height: 70px;
    /* background-color: aqua; */
    color: white;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid white;
}

#Home-tabber-nav-tabber-title {
    width: 100%;
    height: 40px;
    position: relative;
    top: 135px;
    color: white;
}

.Home-tabber-nav button {
    width: 150px;
    height: 50px;
    position: relative;
    top: 130px;
    left: 0px;
}

.Home-Figure {
    width: 760px;
    height: 920px;
    background-color: black;
    text-align: center;
    margin-left: 120px;
}

.the-suit{
    margin-top: 100px;
    margin-left:79%; 
    color: white;
    text-align: center;
}

.Home-Figure-rw {
    width: 120%;
    height: 100%;
    background: url("../static/img/rw.png") no-repeat;
    margin-top: 20px;
    background-size: 90% 110%;
    background-position: 174%;
    position: relative;
    z-index: 100;
    left: 10%;
}

#Home-Figure-rw-span-one {
    width: 20px;
    height: 20px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 62%;
    top:9.5%;
    border-radius: 20px;
    z-index: 100;
    /* opacity: 0.6; */
    cursor: pointer;
}

#Home-Figure-rw-span-one::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: white;
    filter: blur(8px);
}

input:hover {
    background: blue !important;
}
#Home-Figure-rw-span-one:checked+div{
    transition: all 1s;
    display: block;
}
.one{
    width: 450px;
    height: 200px;
    /* background-color: red; */
    position: relative;
    left:65%;
    top: 3.5%;
    display: none;
}

#svg-one{
    width: 450px;
    height: 200px;
    position: relative;
    top: -5%;
}
#Home-Figure-rw-p-one{
    width: 260px;
    height: 80px;
    color: white;
    position: relative;
    left: 50%;
    top: 86%;
}

#Home-Figure-rw-span-two{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 74.5%;
    cursor: pointer;
}
#Home-Figure-rw-span-two:checked+div{
    transition: all 1s;
    display: block;
}
#Home-Figure-rw-span-two::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -3px;
    background-color: white;
    filter: blur(8px);
}

.two{
    width: 450px;
    height: 300px;
    position: absolute;
    left: 77%;
    top: 42%;
    display: none;
}
#Home-Figure-rw-p-two{
    font-size: 30px;
    color: white;
    position: relative;
    top: 62%;
    left: 55%;
    width: 200px;
}
#Home-Figure-rw-p-three{
    color: white;
    position: relative;
    top: -90px;
    left: 5px;
}
#Home-Figure-rw-span-three{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 55.5%;
    cursor: pointer;
}
#Home-Figure-rw-span-three:checked +div{
    display: block;
}
#Home-Figure-rw-span-three::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -3px;
    background-color: white;
    filter: blur(8px);
}
.three{
    width: 350px;
    height: 130px;
    position: absolute;
    top: 11%;
    left: 26.5%;
    display: none;
}   

#Home-Figure-rw-span-font{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 57%;
    left: 74%;
    cursor: pointer;
}
#Home-Figure-rw-span-font:checked+div{
    display: block;
}
#Home-Figure-rw-span-font::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -3px;
    background-color: white;
    filter: blur(8px);
}

.font{
    width: 450px;
    height: 250px;
    /* background-color: red; */
    display: none;
    position: absolute;
    left: 76%;
    top: 58%;
}

#Home-Figure-rw-span-Five{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 51%;
    cursor: pointer;
}
#Home-Figure-rw-span-Five:checked + div{
    display: block;
}
#Home-Figure-rw-span-Five::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -3px;
    background-color: white;
    filter: blur(8px);
}
.Five{
    width: 450px;
    height: 300px;
    /* background-color: red; */
    position: absolute;
    /* left: 13%; */
    top: 37%;
    display: none;
}

#Home-Figure-rw-span-Six{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 64%;
    left: 53.5%;
    cursor: pointer;
}
#Home-Figure-rw-span-Six:checked + div{
    display: block;
}
#Home-Figure-rw-span-Six::after{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: -2px;
    margin-top: -3px;
    background-color: white;
    filter: blur(8px);
}
.Six{
    width: 450px;
    height: 200px;
    display: none;
    position: absolute;
    top: 62%;
    left: 15%;
}